@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  cursor: none;
}

h1 {
  font-size: 2rem;
}
p {
  font-weight: 300;
}
#cursor {
  pointer-events: none;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-title,
.join-us-page-title {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
  transition: font-size 0.5s ease;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 3px;
  border: solid 0;
  cursor: none;
}
.container {
  text-align: center;
}
/*============CONTACT-PAGE================*/
.contact-page {
  width: 100vw;
  height: 5vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #1f2a32;
}
.icon-container-1 > img {
  padding: 0 10px;
  height: 12px;
}
.icon-container-2 > img {
  padding: 0 10px;
  height: 17px;
}

/*============HOME-PAGE================*/
.home-page {
  width: 100vw;
  height: 95vh;
}

/*============NAVBAR================*/
.navbar {
  width: 80%;
  margin: 0% 10%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
}
.nav-link {
  padding: 0 15px;
}
a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
/*============LANDING-PAGE================*/
.landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  background-image: url("src/home-page-img.png");
  background-position-x: center;
  background-position-y: center;
  color: #fff;
}

/*============ABOUT-PAGE================*/
.about-page {
  width: 100vw;
  height: 60vh;
  display: flex;
}
.about-col-1 {
  height: 100%;
  width: 60%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-col-2 {
  height: 100%;
  width: 40%;
  background-image: url("src/about-page-img.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*============GROUP-LESSON-PAGE================*/
.group-lesson-page {
  width: 100vw;
  height: 80vh;
  display: flex;
}
.group-lesson-col-1 {
  height: 100%;
  width: 60%;
  background-image: url("src/group-lesson-page-img.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.group-lesson-col-2 {
  height: 100%;
  width: 40%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*============VIEWS-PAGE================*/
.views-page {
  width: 100vw;
  height: 60vh;
  display: flex;
}
.views-page-col-1 {
  height: 100%;
  width: 60%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.views-page-col-2 {
  height: 100%;
  width: 40%;
  background-image: url("src/views-page-img.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.views-page-btn {
  color: #fff;
  background-color: #000;
}
/*============JOIN-US-PAGE================*/
.join-us-page {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  background-image: url("src/join-us-page-img.png");
  background-position-x: center;
  background-position-y: center;
}
.join-us-page-btn {
  color: #fff;
  background-color: #000;
}

/*============FOOTER-PAGE================*/
.footer-page {
  width: 100vw;
  height: 60vh;
  display: flex;
  padding: 10%;
}
.footer-page-col-1 {
  width: 50%;
}
.footer-page-row-2 {
  display: flex;
  justify-content: space-evenly;
}
.footer-page-col-2 {
  width: 50%;
}
.footer-page-row-1 {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0px;
}

.footer-page-row-1 > * {
  height: 15px;
}
